body {
  background-color: #F70010;
}

h1.logo { margin-left: 40px; }
ul.navigation { float: left; display: block; width: 200px;}
ul.navigation li { padding-top: 20px; list-style-type: none; color: #F2E6E6; font-family: sans-serif; font-size: 17px; font-weight: bold;}
ul.navigation li:hover { padding-left: 20px;cursor: pointer; };
.container { width: 800px; height: auto;}
.container img {margin-left: 100px; border: 2px #B6DEE0 solid;}

#rock{ display: block; width: 80px; height: 30px; position: absolute; margin-left: 780px; margin-top: 100px; }