input[type="text"] {
  width: 140px;
  height: 20px;
}
.form_div {
  display: table;
  margin: 0 auto;
}

#message {
  margin-bottom: 40px;
}

table.reponse_table_s {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

table.reponse_table_s, table.reponse_table_s th, table.reponse_table_s td {
  border: 1px solid black;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  background: #006699;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.success {
  color: green;
}

.error {
  color: red;
}
.input_field_table {
  border: none;
  width: 400px;
}
